<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--接入wifi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- SD卡权限 -->
    <!--读-->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" tools:ignore="ProtectedPermissions" />
    <!--android:usesCleartextTraffic="true"表示使用明文通信-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="卷宝"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIDesign"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.example.SummaryActivity"
            android:exported="true">

        </activity>
        <service android:name="com.example.service.RecordingService" android:enabled="true"/>
    </application>

</manifest>